.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

form {
    width: 100%;
}

.logo {
    display: block;
    cursor: pointer;
    margin-bottom: 3%;
    width: 40%;
}

.form-container h2,
.form-container p {
    color: #010726;
    text-align: left;
    width: 100%;
    margin: 0;
}

.form-container p {
    margin-bottom: 5%;
}

.button {
    background-color: #04588c;
    color: #f8f4f8;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    box-shadow: 0 2px 4px 0 #010726;
}

.button:hover {
    border: 2px solid #04588c;
    color: #04588c;
    background-color: transparent;
}

.input {
    background-color: #737373;
    opacity: 50%;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    font-size: 0.80rem;
}

.input::placeholder {
    color: #000000;
}

.input:focus {
    background-color: #04588c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
    color: #f8f4f8;
}

.input:focus ::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #f8f4f8;
}

.input:valid {
    background-color: #737373;
    border: 3px solid #010726;
    opacity: 50%;
}

.input:valid::placeholder {
    color: black;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkboxInput {
    margin-right: 5%;
    vertical-align: middle;
}

.label {
    color: #010726;
}

.link,
.linkTerms {
    color: #010726;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.link:hover,
.linkTerms:hover {
    color: #04588c;
    border-bottom: 1px solid #04588c;
}

.checkboxLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}

.linkContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.linkContainer p,
.linkContainer .link {
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
}

.linkContainer p {
    margin-right: 10%;
}


@media (max-width: 375px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    .logo {
        max-width: 150px;
    }

    .form-container h2 {
        font-size: 1.5rem;
        text-align: left;
    }

    .form-container p {
        font-size: 0.85rem;
        text-align: left;
    }

    .input {
        font-size: 0.75rem;
        padding: 15px;
        max-width: 100%;
    }

    .inputContainer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .button {
        padding: 10px 0;
        font-size: 0.85rem;
    }

    .checkboxLinkContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .checkboxContainer p {
        text-align: center;
    }

    .linkContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .linkContainer p {
        margin-right: 0;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .logo {
        max-width: 150px;
    }

    .form-container h2 {
        font-size: 1.5rem;
        text-align: left;
    }

    .form-container p {
        font-size: 0.85rem;
        text-align: left;
    }

    .input {
        font-size: 0.75rem;
        padding: 15px;
        max-width: 100%;
    }

    .inputContainer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .button {
        padding: 10px 0;
        font-size: 0.85rem;
    }

    .checkboxLinkContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .checkboxContainer p {
        text-align: center;
    }

    .linkContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .linkContainer p {
        margin-right: 0;
        text-align: center;
    }
}

@media (max-width: 960px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .logo {
        max-width: 150px;
    }

    .form-container h2 {
        font-size: 1.5rem;
        text-align: left;
    }

    .form-container p {
        font-size: 0.85rem;
        text-align: left;
    }

    .input {
        max-width: 100%;
        font-size: 0.75rem;
        padding: 15px;
    }

    .inputContainer {
        max-width: 100%;
    }

    .button {
        max-width: 100%;
        padding: 10px 0;
        font-size: 0.85rem;
    }

    .checkboxLinkContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 100%;
    }

    .checkboxContainer p {
        font-size: 1rem;
        text-align: center;
    }

    .linkContainer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .linkContainer p {
        margin-right: 0;
        text-align: left;
    }
}