.page {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
}

.container h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.container p {
    font-weight: 400;
    font-size: 1rem;
}

.leftPanel,
.rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.9s;
}

.registerMode .leftPanel {
    color: #f8f4f8;
    display: none;
}

.logo {
    max-width: 150px;
}

@media (max-width: 960px) {
    .container {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    .leftPanel,
    .rightPanel {
        width: 100%;
    }

    .container h2 {
        font-size: 2rem;
    }

    .container p {
        font-size: 0.9rem;
    }

    .logo {
        max-width: 120px;
    }

    .leftPanel {
        display: none;
    }

    .rightPanel {
        display: none;
    }

    .showLeftPanel {
        display: block;
    }

    .showRightPanel {
        display: block;
    }
}

@media (max-width: 600px) {
    .page {
        padding: 10px;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 0.8rem;
    }

    .leftPanel,
    .rightPanel {
        padding: 15px;
    }
}

@media (max-width: 375px) {
    .container {
        max-height: 100vh;
        overflow-y: auto;
    }

    .container h2 {
        font-size: 1.2rem;
    }

    .container p {
        font-size: 0.8rem;
    }

    .leftPanel,
    .rightPanel {
        padding: 10px;
    }

    .logo {
        max-width: 100px;
    }
}
