@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.MuiFormLabel-root {
  color: #FFF !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #FFF !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #FFF !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #FFF !important;
}

.MuiSvgIcon-root {
  color: #FFF !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #FFF !important; 
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #FFF !important; 
}

.MuiSvgIcon-root {
  color: #FFF !important; 
}

.MuiOutlinedInput-root input {
  color: #FFF !important; 
}

.MuiOutlinedInput-root.Mui-focused input {
  color: #FFF !important; 
}

