.employeList {
background-color: #010726;
color: #f8f4f8;
}

.scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #f8f4f8 #010726; 
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #f8f4f8; 
    border-radius: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #010726; 
  }

  .bodyProfissional {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(213, 218, 218); */
    width: 97vw;
}

.cadastroBox {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  visibility: hidden; 
}

.cadastroBox.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible; 
}	
