.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 8px;
    padding: 2%;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}


.logo {
    display: flex;
    margin: 0;
}

.form-container h2,
.form-container p {
    color: #010726;
    text-align: end;
    width: 100%;
    margin: 0;
}

p {
    margin-bottom: 4%;
}

.button {
    background-color: #04588c;
    color: #f8f4f8;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s;
    box-shadow: 0 2px 4px 0 #010726;
}

.button:hover {
    border: 2px solid #04588c;
    color: #04588c;
    background-color: transparent;
}

.input {
    background-color: #737373;
    opacity: 20%;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    max-width: 400px;
}

.checkboxLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
}

.small-inputs-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.input-small {
    flex: 1;
    margin-right: 6%;
}

.input-small:last-child {
    margin-right: 0;
}

.label {
    text-align: left;
    color: #010726;
}

.checkboxInput {
    margin-right: 3%;
    vertical-align: middle;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
    width: 100%;
    max-width: 400px;
}

.linkContainer {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}

.linkContainer p,
.linkContainer .link {
    font-size: 16px;
    margin: 0;
    white-space: nowrap;

}

.linkContainer p {
    margin-right: 32%;
}

.linkTerms,
.link {
    color: #010726;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s all;

}

.linkTerms:hover,
.link:hover {
    color: #04588c;
    border-bottom: 1px solid #04588c;
    margin: 0;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .small-inputs-container {
        flex-direction: column;
    }

    .input-small {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .button {
        width: 100%;
    }
}