.section {
    height: 87vh;
    background-image: url(../../../assets/images/barber.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #FFF;
    background-color: #0000009d;
    gap: 1rem;
}

.text h1 {
    width: 80%;
    text-align: center;
    font-size: 3rem;
}

.text h2 {
    width: 80%;
    text-align: center;
    font-size: 2rem;
}