.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #010726;
  padding: 10px 20px;
  color: #f8f4f8;
  width: 100vw;
  height: 12vh;
}

.logo {
  width: 276px;
  height: 100px;
  position: relative;
  transform: translate(-12.5%);
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navigation ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.login {
  width: 8vw;
  height: 50%;
  font-size: 0.8rem;
}

.register {
  width: 9vw;
  height: 50%;
  font-size: 0.8rem;
}