/* Logo */
.logo {
    max-width: 150px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: #010726;
}

.container h2 {
    font-weight: bold;
    font-size: 3rem;
}

.container p {
    font-weight: 400;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 90vh;
    margin: 0;
    background-color: #f8f4f8;
    border-radius: 0;
    box-sizing: border-box;
    overflow: hidden;
}

::placeholder {
    color: #000000;
}

.registerMode .leftPanel {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    z-index: 10;
}

.registerMode .leftPanel h2,
.registerMode .leftPanel p {
    color: #f8f4f8;

}

.leftPanel,
.rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    transition: opacity 0.9s;
    overflow-y: auto;
}

@media (max-width: 375px) {
    .logo {
        max-width: 120px;
    }

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100vh;
        box-sizing: border-box;
        background-color: #010726;
    }

    .container h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .container p {
        font-weight: 400;
        font-size: 0.9rem;
    }

    .container {
        display: flex;
        max-height: 90vh;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-height: 90vh;
        margin: 0;
        background-color: #f8f4f8;
        border-radius: 0;
        box-sizing: border-box;
        overflow-y: auto;
    }

    ::placeholder {
        color: #000000;
    }

    .registerMode .leftPanel {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100%;
        border-radius: 0;
        z-index: 10;
    }

    .registerMode .leftPanel h2,
    .registerMode .leftPanel p {
        color: #f8f4f8;

    }

    .leftPanel,
    .rightPanel {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.9s;
    }
}

@media (max-width: 600px) {
    .logo {
        max-width: 120px;
    }

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100vh;
        box-sizing: border-box;
        background-color: #010726;
    }

    .container h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .container p {
        font-weight: 400;
        font-size: 0.9rem;
    }

    .container {
        display: flex;
        max-height: 90vh;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-height: 90vh;
        margin: 0;
        background-color: #f8f4f8;
        border-radius: 0;
        box-sizing: border-box;
        overflow-y: auto;
    }

    ::placeholder {
        color: #000000;
    }

    .registerMode .leftPanel {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100%;
        border-radius: 0;
        z-index: 10;
    }

    .registerMode .leftPanel h2,
    .registerMode .leftPanel p {
        color: #f8f4f8;

    }

    .leftPanel,
    .rightPanel {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.9s;
    }
}

@media (max-width: 960px) {
    .logo {
        max-width: 120px;
    }

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100vh;
        box-sizing: border-box;
        background-color: #010726;
    }

    .container h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .container p {
        font-weight: 400;
        font-size: 0.9rem;
    }

    .container {
        display: flex;
        max-height: 90vh;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-height: 90vh;
        margin: 0;
        background-color: #f8f4f8;
        border-radius: 0;
        box-sizing: border-box;
        overflow-y: auto;
    }

    ::placeholder {
        color: #000000;
    }

    .registerMode .leftPanel {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100%;
        border-radius: 0;
        z-index: 10;
    }

    .registerMode .leftPanel h2,
    .registerMode .leftPanel p {
        color: #f8f4f8;

    }

    .leftPanel,
    .rightPanel {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.9s;
    }
}