.footer {
  background-color: #010726;
  color: white;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.footerBottom p {
  font-size: 14px;
  color: #cccccc;
}
