/* Logo */
img {
    width: 160px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    background-color: #010726;

}

.container h2 {
    font-weight: bold;
    font-size: 50px;
}

.container {
    display: flex;
    max-height: 90vh;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #f8f4f8;
    border-radius: 10px;
    overflow: hidden;
}

::placeholder {
    color: #010726;
}

.leftPanel,
.rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.9s;
}

.registerMode .leftPanel {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    padding: 100px;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #04588c;
    z-index: 10;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }
}