/* Logo */
.container h2 {
    font-weight: bold;
    font-size: 50px;
}

.container {
    display: flex;
    max-height: 90vh;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0;
    background-color: #f8f4f8;
    border-radius: 0;
    overflow: hidden;
}

::placeholder {
    color: #010726;
}

.registerMode .leftPanel {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    z-index: 10;
}

.registerMode .leftPanel h2,
.registerMode .leftPanel p {
    color: #f8f4f8;
}

.leftPanel,
.rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.9s;
}


/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }
}