section {
    height: 100vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 5%;
  }
  
  .card {
    background-color: #0B1E3D;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 2rem;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  