.section {
    height: 120vh;
    margin-top: 100px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title-container h1 {
  font-size: 2rem;
}

.title-container h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 5%;
    width: 100%;
  }
  
  .card {
    background-color: #010726;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 2rem;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .paragraph {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .paragraph span {
    font-weight: bold;
  }
  
  .button {
    background-color: #04588C;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #04588ca8;
  }
  